.btn {
  border-width: 2px;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Manrope;
}
.display-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 3.75rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.6875rem;
}
.display-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 3rem;
  line-height: 1.15;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.25rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.625rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.15 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 2.625rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.15 * (1.7rem + (3 - 1.7) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff6900 !important;
}
.bg-success {
  background-color: #ffd900 !important;
}
.bg-info {
  background-color: #e1e7ed !important;
}
.bg-warning {
  background-color: #c55200 !important;
}
.bg-danger {
  background-color: #f60018 !important;
}
.btn-primary {
  box-shadow: inset 0 10px 8px 0 #ffb480, inset 0 -2px 10px 0 #ffb480, 0 1px 2px 0 #e65e00, 0 10px 15px -5px #ff6900;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff6900 !important;
  border-color: #ff6900 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ff8733 !important;
  border-color: #ff8733 !important;
  box-shadow: inset 0 10px 8px 0 #ffd2b3, inset 0 -2px 10px 0 #ffd2b3, 0 1px 2px 0 #ff7819, 0 20px 40px -10px #ff8733;
  transform: translateY(-2px);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff8733 !important;
  border-color: #ff8733 !important;
}
.btn-secondary {
  box-shadow: inset 0 10px 8px 0 #8494ac, inset 0 -2px 10px 0 #8494ac, 0 1px 2px 0 #3d495a, 0 10px 15px -5px #475569;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #475569 !important;
  border-color: #475569 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #5c6e87 !important;
  border-color: #5c6e87 !important;
  box-shadow: inset 0 10px 8px 0 #a2afc0, inset 0 -2px 10px 0 #a2afc0, 0 1px 2px 0 #516178, 0 20px 40px -10px #5c6e87;
  transform: translateY(-2px);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #5c6e87 !important;
  border-color: #5c6e87 !important;
}
.btn-info {
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -2px 10px 0 #ffffff, 0 1px 2px 0 #d1dae3, 0 10px 15px -5px #e1e7ed;
}
.btn-info,
.btn-info:active {
  background-color: #e1e7ed !important;
  border-color: #e1e7ed !important;
  color: #3a4e62 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -2px 10px 0 #ffffff, 0 1px 2px 0 #f2f2f2, 0 20px 40px -10px #ffffff;
  transform: translateY(-2px);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #3a4e62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success {
  box-shadow: inset 0 10px 8px 0 #ffec80, inset 0 -2px 10px 0 #ffec80, 0 1px 2px 0 #e6c300, 0 10px 15px -5px #ffd900;
}
.btn-success,
.btn-success:active {
  background-color: #ffd900 !important;
  border-color: #ffd900 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #ffe133 !important;
  border-color: #ffe133 !important;
  box-shadow: inset 0 10px 8px 0 #fff4b3, inset 0 -2px 10px 0 #fff4b3, 0 1px 2px 0 #ffdd19, 0 20px 40px -10px #ffe133;
  transform: translateY(-2px);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #ffe133 !important;
  border-color: #ffe133 !important;
}
.btn-warning {
  box-shadow: inset 0 10px 8px 0 #ff9345, inset 0 -2px 10px 0 #ff9345, 0 1px 2px 0 #ac4700, 0 10px 15px -5px #c55200;
}
.btn-warning,
.btn-warning:active {
  background-color: #c55200 !important;
  border-color: #c55200 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #f86700 !important;
  border-color: #f86700 !important;
  box-shadow: inset 0 10px 8px 0 #ffb079, inset 0 -2px 10px 0 #ffb079, 0 1px 2px 0 #df5d00, 0 20px 40px -10px #f86700;
  transform: translateY(-2px);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f86700 !important;
  border-color: #f86700 !important;
}
.btn-danger {
  box-shadow: inset 0 10px 8px 0 #ff7784, inset 0 -2px 10px 0 #ff7784, 0 1px 2px 0 #dd0016, 0 10px 15px -5px #f60018;
}
.btn-danger,
.btn-danger:active {
  background-color: #f60018 !important;
  border-color: #f60018 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ff2a3f !important;
  border-color: #ff2a3f !important;
  box-shadow: inset 0 10px 8px 0 #ffaab2, inset 0 -2px 10px 0 #ffaab2, 0 1px 2px 0 #ff1128, 0 20px 40px -10px #ff2a3f;
  transform: translateY(-2px);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff2a3f !important;
  border-color: #ff2a3f !important;
}
.btn-white {
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -2px 10px 0 #ffffff, 0 1px 2px 0 #ededed, 0 10px 15px -5px #fafafa;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #616161 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -2px 10px 0 #ffffff, 0 1px 2px 0 #f2f2f2, 0 20px 40px -10px #ffffff;
  transform: translateY(-2px);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #616161 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black {
  box-shadow: inset 0 10px 8px 0 #314a88, inset 0 -2px 10px 0 #314a88, 0 1px 2px 0 #080d17, 0 10px 15px -5px #0f172a;
}
.btn-black,
.btn-black:active {
  background-color: #0f172a !important;
  border-color: #0f172a !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #1c2c50 !important;
  border-color: #1c2c50 !important;
  box-shadow: inset 0 10px 8px 0 #3e5fae, inset 0 -2px 10px 0 #3e5fae, 0 1px 2px 0 #16213d, 0 20px 40px -10px #1c2c50;
  transform: translateY(-2px);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #1c2c50 !important;
  border-color: #1c2c50 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ff6900;
  color: #ff6900;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a84500 !important;
  background-color: transparent !important;
  border-color: #a84500 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6900 !important;
  border-color: #ff6900 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #475569;
  color: #475569;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #242b35 !important;
  background-color: transparent !important;
  border-color: #242b35 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #475569 !important;
  border-color: #475569 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e1e7ed;
  color: #e1e7ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #abbccc !important;
  background-color: transparent !important;
  border-color: #abbccc !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #4e6781 !important;
  background-color: #e1e7ed !important;
  border-color: #e1e7ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ffd900;
  color: #ffd900;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #a88f00 !important;
  background-color: transparent !important;
  border-color: #a88f00 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffd900 !important;
  border-color: #ffd900 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #c55200;
  color: #c55200;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #6e2e00 !important;
  background-color: transparent !important;
  border-color: #6e2e00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c55200 !important;
  border-color: #c55200 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #f60018;
  color: #f60018;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #9f0010 !important;
  background-color: transparent !important;
  border-color: #9f0010 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f60018 !important;
  border-color: #f60018 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #0f172a;
  color: #0f172a;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #0f172a !important;
  border-color: #0f172a !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff6900 !important;
}
.text-secondary {
  color: #475569 !important;
}
.text-success {
  color: #ffd900 !important;
}
.text-info {
  color: #e1e7ed !important;
}
.text-warning {
  color: #c55200 !important;
}
.text-danger {
  color: #f60018 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #0f172a !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #993f00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1e242c !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #998200 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #a1b4c7 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #5f2800 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #90000e !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff6900;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e1e7ed;
}
.alert-warning {
  background-color: #c55200;
}
.alert-danger {
  background-color: #f60018;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff6900;
  border-color: #ff6900;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 1rem !important;
}
a,
a:hover {
  color: #ff6900;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffe1cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff7cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ff9345;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffc3c9;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  border-radius: 8px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff6900 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5625rem;
}
blockquote {
  border-color: #ff6900;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff6900;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff6900;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff6900;
  border-bottom-color: #ff6900;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff6900 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #475569 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff6900' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
html,
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn {
  font-weight: 500;
  padding: 9px 16px;
  border-radius: 12px !important;
  padding: 18px 26px;
}
.mbr-section-btn .btn-black {
  box-shadow: inset 0 10px 8px 0 #484848, 0 10px 15px -5px #949494;
  background-color: #0f172a !important;
}
.mbr-section-btn .btn-black:hover,
.mbr-section-btn .btn-black:focus,
.mbr-section-btn .btn-black.focus,
.mbr-section-btn .btn-black.active {
  color: #ffffff !important;
  background-color: #ff6900 !important;
  border-color: #ff6900 !important;
  box-shadow: inset 0 10px 8px 0 #ffb480, inset 0 -2px 10px 0 #ffb480, 0 1px 2px 0 #ff6900, 0 20px 40px -10px #ff6900;
}
.mbr-section-btn .btn-white {
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -2px 10px 0 #c7c7c7, 0 1px 2px 0 #c7c7c7, 0 10px 15px -5px #c7c7c7;
  background-color: #fafafa !important;
}
.mbr-section-btn .btn-white:hover,
.mbr-section-btn .btn-white:focus,
.mbr-section-btn .btn-white.focus,
.mbr-section-btn .btn-white.active {
  color: #ffffff !important;
  background-color: #ff6900 !important;
  border-color: #ff6900 !important;
  box-shadow: inset 0 10px 8px 0 #ffb480, inset 0 -2px 10px 0 #ffb480, 0 1px 2px 0 #ff6900, 0 20px 40px -10px #ff6900;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 1rem !important;
}
.large-radius {
  border-radius: 32px !important;
}
.little-radius,
.item-img::before,
.item-img::after,
.dropdown-item {
  border-radius: 8px !important;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-vrzNGQPec1 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-vrzNGQPec1 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-vrzNGQPec1 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-vrzNGQPec1 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-vrzNGQPec1 .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.cid-vrzNGQPec1 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-vrzNGQPec1 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-vrzNGQPec1 .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-vrzNGQPec1 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-nav .nav-item {
    padding-left: 0 !important;
  }
}
.cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 0 !important;
  margin: 4px 10px !important;
  transition: .3s all !important;
  font-weight: 400;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link {
    padding: 10px 0 !important;
    margin-left: 0 !important;
  }
}
.cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px !important;
  background-color: #ff6900;
  transform: translateY(-2px);
  opacity: 0;
  transition: all 0.3s ease;
}
.cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link:hover {
  color: #ff6900 !important;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
  }
}
.cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link:hover::before {
  transform: translateY(0);
  opacity: 1;
}
.cid-vrzNGQPec1 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-vrzNGQPec1 .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-vrzNGQPec1 .navbar-nav .dropdown-item {
  padding: 12px !important;
  margin: 0 8px !important;
  transition: .3s all !important;
  background: #fafafa;
  font-weight: 400;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-nav .dropdown-item {
    margin: 0 8px 0 0 !important;
  }
}
.cid-vrzNGQPec1 .navbar-nav .dropdown-item:hover {
  color: #ff6900;
}
.cid-vrzNGQPec1 .nav-link {
  width: fit-content;
  position: relative;
}
.cid-vrzNGQPec1 .navbar-logo {
  padding-left: 0;
  margin: 0 !important;
  border-radius: 5px !important;
}
@media (max-width: 767px) {
  .cid-vrzNGQPec1 .navbar-logo {
    padding-left: 0;
  }
}
.cid-vrzNGQPec1 .navbar-caption {
  padding-left: 0;
  padding-right: 20px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-caption {
    border-right: none;
  }
}
.cid-vrzNGQPec1 .navbar-caption:hover {
  color: #ff6900 !important;
}
@media (max-width: 767px) {
  .cid-vrzNGQPec1 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-vrzNGQPec1 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0rem;
  transition: .3s all;
}
.cid-vrzNGQPec1 .container,
.cid-vrzNGQPec1 .container-fluid {
  display: flex;
  min-height: 75px;
  padding: 0 32px;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: .5rem;
  background-color: #fafafa;
  backdrop-filter: blur(8px);
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -5px 10px -4px #cccccc, 0 10px 10px -5px #cccccc;
}
@media (min-width: 992px) {
  .cid-vrzNGQPec1 .container,
  .cid-vrzNGQPec1 .container-fluid {
    max-width: 966px;
  }
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .container,
  .cid-vrzNGQPec1 .container-fluid {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vrzNGQPec1 .container,
  .cid-vrzNGQPec1 .container-fluid {
    width: 90%;
    height: 56px !important;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0rem;
  }
}
.cid-vrzNGQPec1 .iconfont-wrapper {
  color: #0f172a !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.cid-vrzNGQPec1 .iconfont-wrapper:hover {
  opacity: .6;
}
.cid-vrzNGQPec1 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 0 !important;
  border-radius: 1rem;
  transition: .3s all !important;
  min-width: auto;
}
.cid-vrzNGQPec1 .nav-item:focus,
.cid-vrzNGQPec1 .nav-link:focus {
  outline: none;
}
.cid-vrzNGQPec1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-vrzNGQPec1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-vrzNGQPec1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-vrzNGQPec1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-vrzNGQPec1 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-vrzNGQPec1 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-vrzNGQPec1 .navbar {
  min-height: 75px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-vrzNGQPec1 .navbar.opened {
  transition: all 0.3s;
}
.cid-vrzNGQPec1 .navbar.opened .container {
  backdrop-filter: none;
}
.cid-vrzNGQPec1 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-vrzNGQPec1 .navbar .navbar-logo img {
  width: auto;
  margin-right: 8px;
}
.cid-vrzNGQPec1 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-vrzNGQPec1 .navbar.collapsed {
  justify-content: center;
}
.cid-vrzNGQPec1 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-vrzNGQPec1 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-vrzNGQPec1 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-vrzNGQPec1 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-vrzNGQPec1 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-vrzNGQPec1 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-vrzNGQPec1 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-vrzNGQPec1 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-vrzNGQPec1 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-vrzNGQPec1 .navbar {
    min-height: 72px;
  }
  .cid-vrzNGQPec1 .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-vrzNGQPec1 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-vrzNGQPec1 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-vrzNGQPec1 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-vrzNGQPec1 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-vrzNGQPec1 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-vrzNGQPec1 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-vrzNGQPec1 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-vrzNGQPec1 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-vrzNGQPec1 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-vrzNGQPec1 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-vrzNGQPec1 .dropdown-item.active,
.cid-vrzNGQPec1 .dropdown-item:active {
  background-color: transparent;
}
.cid-vrzNGQPec1 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-vrzNGQPec1 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-vrzNGQPec1 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-vrzNGQPec1 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
  top: 2rem;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    top: 0;
  }
}
.cid-vrzNGQPec1 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 95%;
  transform: none;
  top: 0;
}
.cid-vrzNGQPec1 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-vrzNGQPec1 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-vrzNGQPec1 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar-buttons {
    text-align: left;
  }
}
.cid-vrzNGQPec1 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-vrzNGQPec1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0f172a;
}
.cid-vrzNGQPec1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-vrzNGQPec1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vrzNGQPec1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vrzNGQPec1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-vrzNGQPec1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vrzNGQPec1 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-vrzNGQPec1 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-vrzNGQPec1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vrzNGQPec1 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-vrzNGQPec1 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-vrzNGQPec1 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-vrzNGQPec1 .navbar {
    height: 75px;
  }
  .cid-vrzNGQPec1 .navbar.opened {
    height: auto;
  }
  .cid-vrzNGQPec1 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
  margin-bottom: 9px !important;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown-item {
    margin-bottom: 0;
  }
}
.cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.6rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-vrzNGQPec1 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
@media (max-width: 992px) {
  .cid-vrzNGQPec1 .mbr-section-btn {
    margin-top: 12px;
  }
}
.cid-vrzNGQPec1 .mbr-section-btn .btn {
  white-space: nowrap;
  width: auto;
  padding: 14px 18px;
}
.cid-vrzNGQPec1 .mbr-section-btn .btn:hover,
.cid-vrzNGQPec1 .mbr-section-btn .btn:focus {
  transform: none !important;
}
@media (max-width: 575px) {
  .cid-vrzNGQPec1 .mbr-section-btn .btn {
    width: auto !important;
  }
}
.cid-vrzNGQPec1 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-vrzNGQPec1 .navbar-brand {
    margin-right: auto;
  }
  .cid-vrzNGQPec1 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #fafafa;
    backdrop-filter: blur(8px);
  }
  .cid-vrzNGQPec1 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-vrzNGQPec1 .navbar-nav .dropdown-item:hover {
    color: #ff6900;
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 0 !important;
    border-radius: 1rem;
    background-color: transparent !important;
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 10px 10px 10px 10px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-vrzNGQPec1 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    padding-left: 0 !important;
    margin-left: 0;
    border-radius: 1rem;
    background-color: transparent;
  }
  .cid-vrzNGQPec1 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-vrzNGQPec1 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-vrzQtHHYvI {
  padding-top: 12rem;
  background-color: #f5f5f5;
  overflow: hidden;
}
.cid-vrzQtHHYvI .mbr-fallback-image.disabled {
  display: none;
}
.cid-vrzQtHHYvI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vrzQtHHYvI .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 12rem;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e1e7ed;
}
@media (max-width: 425px) {
  .cid-vrzQtHHYvI .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-vrzQtHHYvI .content-wrapper .border-wrap {
  position: absolute;
  height: 1000%;
  width: 1px;
  border-left: 1px solid #e1e7ed;
  pointer-events: none;
}
@media (max-width: 425px) {
  .cid-vrzQtHHYvI .content-wrapper .border-wrap {
    display: none;
  }
}
.cid-vrzQtHHYvI .content-wrapper .border_1 {
  left: 0;
}
.cid-vrzQtHHYvI .content-wrapper .border_2 {
  right: 0;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper {
  margin-bottom: 20px;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  background-image: linear-gradient(135deg, #cccccc 38%, #ff6900 75%);
  box-shadow: 0 10px 10px -5px #cccccc;
  padding: 0 1px 1px 0;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap::before {
  content: '';
  position: absolute;
  right: -30px;
  bottom: -17px;
  width: 164px;
  height: 50px;
  pointer-events: none;
  filter: blur(10px);
  background-image: radial-gradient(50% 50%, #ff6900 0%, transparent 100%);
  z-index: -1;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap .label-box {
  position: relative;
  z-index: 1;
  padding: 7px 18px;
  display: inline-flex;
  align-items: center;
  background-color: #fafafa;
  box-shadow: inset 0 10px 8px 0 #ffffff;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap .label-box .iconfont-wrapper {
  display: inline-flex;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap .label-box .iconfont-wrapper .mbr-iconfont {
  font-size: 18px;
  display: inline-flex;
  margin-right: 8px;
}
.cid-vrzQtHHYvI .content-wrapper .label-wrapper .label-wrap .label-box .mbr-label {
  margin-bottom: 0;
}
.cid-vrzQtHHYvI .content-wrapper .title-wrapper .mbr-section-title {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #0f172a 40%, #ff6900 90%);
  margin-bottom: 20px;
}
.cid-vrzQtHHYvI .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-vrzQtHHYvI .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-vrzQtHHYvI .content-wrapper .mbr-section-btn {
  margin-top: 40px;
}
@media (max-width: 992px) {
  .cid-vrzQtHHYvI .content-wrapper .mbr-section-btn {
    margin-top: 20px;
  }
}
.cid-vrzQtHHYvI .content-wrapper .image-wrapper {
  margin-top: 70px;
  -webkit-mask-image: linear-gradient(#000000 80%, transparent 95%);
  mask-image: linear-gradient(#000000 80%, transparent 95%);
}
@media (max-width: 992px) {
  .cid-vrzQtHHYvI .content-wrapper .image-wrapper {
    margin-top: 40px;
  }
}
.cid-vrzQtHHYvI .content-wrapper .image-wrapper img {
  height: 690px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-vrzQtHHYvI .content-wrapper .image-wrapper img {
    height: 320px;
  }
}
.cid-vrzQtHHYvI .mbr-label,
.cid-vrzQtHHYvI .label-wrapper {
  color: #334155;
  text-align: center;
}
.cid-vrzQtHHYvI .mbr-section-title {
  color: #0f172a;
}
.cid-vrzQtHHYvI .mbr-text,
.cid-vrzQtHHYvI .text-wrapper {
  color: #475569;
  text-align: center;
}
.cid-vrzQtHHYvI .mbr-section-title,
.cid-vrzQtHHYvI .mbr-section-btn,
.cid-vrzQtHHYvI .title-wrapper {
  text-align: center;
}
.cid-vrAvQPqBTO {
  padding-top: 5rem;
  background-color: #f5f5f5;
  overflow: hidden;
}
.cid-vrAvQPqBTO .mbr-fallback-image.disabled {
  display: none;
}
.cid-vrAvQPqBTO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vrAvQPqBTO .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e1e7ed;
}
@media (max-width: 425px) {
  .cid-vrAvQPqBTO .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-vrAvQPqBTO .content-wrapper .border-wrap {
  position: absolute;
  height: 1000%;
  width: 1px;
  border-left: 1px solid #e1e7ed;
  pointer-events: none;
}
@media (max-width: 425px) {
  .cid-vrAvQPqBTO .content-wrapper .border-wrap {
    display: none;
  }
}
.cid-vrAvQPqBTO .content-wrapper .border_1 {
  left: 0;
}
.cid-vrAvQPqBTO .content-wrapper .border_2 {
  right: 0;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper {
  margin-bottom: 40px;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .label-wrapper {
  margin-bottom: 16px;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .label-wrapper .label-wrap {
  display: inline-flex;
  align-items: center;
  padding: 7px 18px;
  box-shadow: inset 0 10px 8px 0 #ffffff, inset 0 -5px 10px -8px #cccccc, 0 10px 10px -8px #cccccc;
  background-color: #fafafa;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .label-wrapper .label-wrap .iconfont-wrapper {
  display: inline-flex;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .label-wrapper .label-wrap .iconfont-wrapper .mbr-iconfont {
  font-size: 18px;
  display: inline-flex;
  margin-right: 8px;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .label-wrapper .label-wrap .mbr-label {
  margin-bottom: 0;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-vrAvQPqBTO .content-wrapper .title-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-vrAvQPqBTO .content-wrapper .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-vrAvQPqBTO .content-wrapper .google-map iframe {
  height: 400px;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-vrAvQPqBTO .content-wrapper .google-map iframe {
    height: 320px;
  }
}
.cid-vrAvQPqBTO .mbr-label,
.cid-vrAvQPqBTO .label-wrapper {
  color: #c55200;
  text-align: center;
}
.cid-vrAvQPqBTO .mbr-section-title {
  color: #0f172a;
  text-align: center;
}
.cid-vrAvQPqBTO .mbr-text,
.cid-vrAvQPqBTO .text-wrapper {
  color: #475569;
  text-align: left;
}
.cid-vrAvQPqBTO .mbr-section-title,
.cid-vrAvQPqBTO .mbr-section-btn {
  text-align: justify;
  color: #334155;
}
.cid-vrA3aUavhg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f5f5f5;
}
.cid-vrA3aUavhg .mbr-fallback-image.disabled {
  display: none;
}
.cid-vrA3aUavhg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vrA3aUavhg .card-wrapper {
  padding: 60px 60px 0 60px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #fafafa;
  box-shadow: inset 0 10px 8px 0 #ffffff, 1px 0 10px -5px #cccccc;
  overflow: hidden;
  margin-top: -1px;
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper {
    padding: 20px 20px 0 20px;
  }
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper .content-wrapper {
    margin-bottom: 40px;
  }
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper .title-wrapper .title-wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper .title-wrapper .title-wrap .logo-wrapper img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  object-fit: cover;
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 80%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-vrA3aUavhg .card-wrapper .content-wrapper .mbr-section-btn {
  margin-top: 10px;
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}
@media (max-width: 1440px) {
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper {
    grid-template-columns: 1fr;
  }
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .mbr-list-title {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .mbr-list-title {
    margin-bottom: 12px;
  }
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap {
  position: relative;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  width: fit-content;
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff6900;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-2px);
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:hover,
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:focus {
  color: #ff6900;
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:hover::before,
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:focus::before {
  opacity: 1;
  transform: translateY(0);
}
.cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap {
    margin-bottom: 8px;
  }
  .cid-vrA3aUavhg .card-wrapper .nav-wrapper .nav-wrap .list .item-wrap:last-child {
    margin-bottom: 0;
  }
}
.cid-vrA3aUavhg .card-wrapper .copy-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.cid-vrA3aUavhg .card-wrapper .copy-wrap .border-wrap {
  position: absolute;
  top: 0;
  width: 1000%;
  height: 1px;
  background-color: #e1e7ed;
}
.cid-vrA3aUavhg .card-wrapper .copy-wrap .mbr-copy {
  width: 100%;
  margin-bottom: 0;
}
.cid-vrA3aUavhg .mbr-section-title {
  color: #0f172a;
}
.cid-vrA3aUavhg .mbr-text,
.cid-vrA3aUavhg .text-wrapper {
  color: #475569;
}
.cid-vrA3aUavhg .mbr-list-title {
  color: #475569;
}
.cid-vrA3aUavhg .list {
  color: #0f172a;
}
.cid-vrA3aUavhg .mbr-copy {
  color: #475569;
  text-align: left;
}
.cid-vrA3aUavhg .mbr-section-title,
.cid-vrA3aUavhg .mbr-section-btn,
.cid-vrA3aUavhg .title-wrapper {
  color: #334155;
}
